@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  font-style: normal;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /*#ada996;*/
}

.container {
  padding: 2rem 5rem;
}

.btn {
  padding: .5rem 1.25rem;
  font-size: 1rem;
  border: 2px solid #0038FF;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #121212;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 45%;
}

main {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .left {
  flex-basis: 80%;
}

main .left>* {
  margin-bottom: 2rem;
}

main .left h1 {
  position: relative;
}

main .left h1::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 5px;
  border-radius: 15px;
  background-color: #4DA8FF;
  top: -10px;
}

main .left .btn {
  background-color: #0038FF;
  color: #fff;
}

main .right {
  display: grid;
  place-items: end;
}

main .right img {
  width: 40%;
}

footer {
  max-width: 100%;
  padding: 1rem 5rem;
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
}

footer h4 {
  margin-left: 1rem;
}



@media (min-width: 1200px) {
  main .right img {
    width: 65%;
  }
}

@media (min-width: 1360px) {
  main .right img {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  main .left {
    flex-basis: 100%;
  }

  main .right img {
    width: 75%;
  }
}

@media (max-width: 991px) {
  main .right img {
    width: 65%;
  }
}

@media (max-width: 768px) {
  main {
    margin-top: 0;
    flex-direction: column;
  }

  main .left {
    order: 1;
  }

  main .right {
    place-items: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1rem 1.5rem;
  }

  footer h4 {
    font-size: .9rem;
  }
}

@media (max-width: 400px) {
  .btn-download-stroked {
    font-size: .8rem;
    padding: .3rem 1rem;
  }
}

@media (max-width: 340px) {
  .content {
    font-size: .8rem;
  }

  footer {
    justify-content: center;
    padding: 1rem 2rem;
  }

  footer h4 {
    font-size: .6rem;
  }
}